<footer>
    <div class="f-info">
        <div class="f-info-card">
            <div class="f-info-text">
                <a href="/"><i class="fa-solid fa-mug-hot fa-bounce home-icon"></i></a>
            </div>
            <div class="f-info-text">
                Cafetunes: Where the harmony of live music meets the warmth of your favorite cafe. 
            </div>
            <div class="f-info-text">
                Experience enchanting performances by local singers while indulging in the cozy ambiance, making every visit a delightful blend of music and coffee. 
            </div>
        </div>
        <div class="f-info-card">
            <div class="f-info-socials">Contact us</div>
            <div class="f-info-socials">arvindkurmisirvaiya@gmail.com</div>

            <div class="f-info-socials">
                

                <a href="https://www.facebook.com/arvindkurmi08/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/photo.com08/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/arvind-kurmi-528792288/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="f-info-card">
            <div class="f-info-links">
                <a href="/privacy">Privacy Policy</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/terms">Terms of Services</a>
            </div>
        </div>
        <div class="f-info-card">
            <div class="f-info-brands"> &copy; Cafetunes private limited</div>
        </div>
    </div>
</footer>