<% layout("/layouts/boilerplate")  %>

<div class="bg-container">
<div>
    <div class="text-container">
        <div class="Raleway">
            Musical
        </div>
        <div class="Raleway">
            Evening
        </div>

    </div>
    <div class="text-container ">
        <div class="left desc " style="width: 50%;">
            "Every morning starts with a beat, whether it’s the sound of a brewing coffee or a favorite song."
        </div>
        <div class="right desc">
                .             "Coffee is the muse; music is the art."
        </div>

    </div>
</div>
<div class="img-container">
    <div class="bottom-left">
        <div style="width:80%;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form action="/events">
                <button class="btn" type="submit" style="border-radius: 30px; color: black; margin-top: 30px;">Check Events&nbsp;&nbsp;&nbsp;<img src="images/right_upper_arrow.png" alt="btn" width="25px"></button>
            </form>
        </div>

    </div>
    <div>
        <img src="images/cup8.png" alt="img" height="400px" width="500px">
    </div>
    <div class="bottom-right" style="width:33%">
        <form action="/caves">
            <button class="btn" type="submit" style="border-radius: 30px; color: black; margin-top: 30px; height: 47px;">Find Cafe&nbsp;&nbsp;&nbsp;<img src="images/cup4.jpg" alt="btn" width="35px"></button>
        </form>
    </div>

</div>
</div>

<div style="display: flexbox; margin-top: 80px;">
 
    <div>
        <div class="animated-title" style="display:inline">
            <div class="text-top">
              <div>
                <span style="font-weight: bolder;">Behind every successful person</span>
                <span style="font-size: smaller;"> There is a substantial amount of </span>
              </div>
            </div>
            <div class="text-bottom">
              <div>Coffee.</div>
            </div>
        </div>
    </div>
   
    
    <div class="gallery" style=" margin-top: -500px; margin-left: 60%;">
        <!-- =============== SWIPER GALLERY CARDS =============== -->
        <div class="swiper gallery-cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="gallery__card">
                        <img src="assets/img/img1.JPG" alt="image gallery" class="gallery__img">
                        <div class="gallery__data">
                            <h3 class="gallery__title">Visit Cafe by home</h3>
                            <span class="gallery__subtitle">Food</span>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="gallery__card">
                        <img src="assets/img/img2.JPEG" alt="image gallery" class="gallery__img">
                        <div class="gallery__data">
                            <h3 class="gallery__title">Ice-creams</h3>
                            <span class="gallery__subtitle">Desserts</span>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="gallery__card">
                        <img src="assets/img/img3.JPEG" alt="image gallery" class="gallery__img">
                        <div class="gallery__data">
                            <h3 class="gallery__title">Different Dishes</h3>
                            <span class="gallery__subtitle">Like</span>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="gallery__card">
                        <img src="assets/img/img4.JPEG" alt="image gallery" class="gallery__img">
                        <div class="gallery__data">
                            <h3 class="gallery__title">Order beforehead</h3>
                            <span class="gallery__subtitle">New</span>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="gallery__card">
                        <img src="assets/img/img5.JPEG" alt="image gallery" class="gallery__img">
                        <div class="gallery__data">
                            <h3 class="gallery__title">Veg-NonVeg both</h3>
                            <span class="gallery__subtitle">Variety</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!-- =============== SWIPER GALLERY THUMBNAIL =============== -->
        <div class="gallery__overflow">
            <div class="swiper gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="assets/img/img1.JPG" alt="image thumbnail" class="gallery__thumbnail-img">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="assets/img/img2.JPEG" alt="image thumbnail" class="gallery__thumbnail-img">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="assets/img/img3.JPEG" alt="image thumbnail" class="gallery__thumbnail-img">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="assets/img/img4.JPEG" alt="image thumbnail" class="gallery__thumbnail-img">
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="assets/img/img5.JPEG" alt="image thumbnail" class="gallery__thumbnail-img">
                        </div>
                    </div>
                </div>

                <!-- Swiper pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-next">
                <i class="ri-arrow-right-line"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="ri-arrow-left-line"></i>
            </div>
        </div>
    </div>
</div>



<div id="about" class="about-container">
    <div class="img-box" style="width: 40%;">
        <img src="images/cup9.png" width="600px" alt="music">
    </div>
    <div class="text-box">
        <div style="font-weight: bolder; font-size:xx-large;">About Our Services</div>
        <hr>
        <h2 style="color: rgb(0, 0, 0);">Cafetunes: Where the harmony of live music meets the warmth of your favorite cafe.</h2>
        <p style="color: rgb(101, 101, 101);">Experience enchanting performances by local singers while indulging in the cozy ambiance, making every visit a delightful blend of music and coffee.</p>
    </div>
</div>

